In [6]:
import pandas as pd
import numpy as np

In [7]:
#cityName = "";
def readSheet(city):
    cityName = city
    sheet = pd.read_excel("August 2022 Adjusted Database.xlsx", sheet_name = "MASTER")
    sheet = sheet.dropna()
    county = sheet.loc[sheet['HQ State'].str.contains('OH')]
    county = sheet.loc[sheet['HQ City'].str.contains(city)]
    return county

In [8]:
def df(city):
    new_city = readSheet(city.upper())
    filtered_city = new_city[["UZA Population", "Service Area Population"]].copy()
    return filtered_city

In [13]:
cityList = ["Toledo", "Cincinnati", "Cleveland", "Dayton", "Columbus", "Akron"]
result = []
j = 0
for i in cityList:
    cityToRow = {}
    cityToRow['City'] = i
    cityToRow['UZA Population'] = df(i)['UZA Population'].sum()
    cityToRow['Service Area Population'] = df(i)['Service Area Population'].sum()
    cityToRow['Served/Total'] = cityToRow['Service Area Population'] / cityToRow['UZA Population']
    cityToRow['Percentage'] = 100 * cityToRow['Served/Total']
    
    result.append(pd.DataFrame(data = cityToRow, index=[j]))
    j += 1
    
resDF = pd.concat(result)
resDF

,City,UZA Population,Service Area Population,Served/Total,Percentage
0,Toledo,1522929,1122639.0,0.737158,73.715781
1,Cincinnati,3249654,1489802.0,0.458449,45.844942
2,Cleveland,10684038,8472840.0,0.793037,79.303724
3,Dayton,2172273,1677186.0,0.772088,77.208804
4,Columbus,5472140,5759787.0,1.052566,105.256572
5,Akron,1708497,1623039.0,0.949981,94.998060

In [19]:
resDF = resDF.sort_values(by='Percentage', ascending = False)

In [20]:
resDF.to_csv( "transportData.csv", index = False, header= True)